@tailwind base;
@tailwind components;
@tailwind utilities;
@font-face {
    font-family: 'Orbitron';
    src: url('../public/fonts/Orbitron-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }
  
  